<div class="posts">
    <div class="row justify-content-center">
        <div class="col-lg-7" style="margin-top: 50px;">
            <div class="card">
                <div class="card-body">
                    <p>req.cookies.userData.name: {{this.name}}</p>
                    <p>req.cookies.userData.age: {{this.age}}</p>
                    <p>req.cookies.userData.ts: {{this.ts}}</p>
                    <p>request protocol : {{protocol}}</p>
                    <p>hostname : {{this.hostname}}</p>
                    <p>path: {{this.path}}</p>                    
                    <p>originalUrl : {{this.originalUrl}}</p>
                    <p>subDomain : {{this.subDomain}}</p>
                    <p>http method: {{this.method}}</p>
                    <p>query keyword: {{this.keyword}}</p>
                    <p>user agent: {{this.userAgent}}</p>
                    <p>header content type: {{headerContentType}}</p>
                    <p>header Authorization: {{headerAuthorization}}</p>
                    <p>coockies: {{coockies}}</p>
                </div>
            </div>
        </div>
    </div>
</div>